<div class="container flex justify-content-center flex-wrap">
  <div class="w-max">
  <p-card header="Восстановление пароля">
    <form [formGroup]="forgotForm" (ngSubmit)="submit()">
      <p-floatlabel variant="in">
        <input id="email" type="email" class="w-full" pInputText formControlName="email"/>
        <label for="email">Электронная почта</label>
      </p-floatlabel>
      <button pButton pRipple class="w-full mt-1" [loading]="loading" type="submit" label="Восстановить" icon="pi pi-refresh"></button>
    </form>
  </p-card>
  </div>
</div>
