<div class="container flex justify-content-center flex-wrap">
  <div class="w-max">
    <p-card header="Вход" >
<form [formGroup]="resetForm" (ngSubmit)="submit()">
  <p-floatlabel variant="in" class="mt-3">
    <p-password id="newPassword"  formControlName="newPassword" feedback="false" autocomplete="off" [toggleMask]="true"/>
    <label for="newPassword">Новый пароль</label>
  </p-floatlabel>
  <p-floatlabel variant="in" class="mt-3">
    <p-password id="confirmPassword" [ngClass]="{'ng-invalid ng-dirty':
                    resetForm.hasError('mismatch') &&
                    resetForm.get('confirmPassword')?.touched}" formControlName="confirmPassword" feedback="false" autocomplete="off" [toggleMask]="true"/>
    <label for="confirmPassword">Подтвердите пароль</label>
  </p-floatlabel>
  <button pButton pRipple class="w-full mt-1" type="submit" [loading]="loading" label="Изменить" icon="pi pi-refresh"></button>
</form>
    </p-card>
  </div>
</div>
